.head {
    padding: 20px 0;
    color: #000000;
}

.logo img{
    height: auto;
    width: 180px;
    cursor: auto;
    margin-left: 20px;
}

.head .icon{
    margin-right: 40px;
    margin-top: 10px;
}